.about-container {
  height: 100vh;
  width: 100%;
}

.about-container h1 {
  color: #111;
}

.about-content {
  padding: 160px;
}

.about-content h1 {
  margin: 0;
  padding: 0;
  font-size: 2.5em;
}

.about-content p {
  font-size: 1.2em;
  margin: 20px 0 0;
  padding: 0;
  text-align: justify;
}

