.about-container {
  display: flex;
  height: 80vh;
  padding: 130px 80px;
  width: 100%;
}

.about-container h1 {
  color: #111;
}

.about-container p, h4 {
  font-family: Arial, Helvetica, sans-serif;
}

.aboutme {
  max-width: 800px;
}

.about-content h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  font-size: 2.5em;
}

.about-content p {
  font-size: 1.2em;
  margin: 20px 0 0;
  padding: 0;
  text-align: justify;
}

.linkedinButton {
  margin-top: 20px;
  font-size: 18px;
  border: transparent;
  background-color: aquamarine;
  font-weight: 800;
  height: 60px;
  cursor: pointer;
  width: 180px;
}

.linkedinButton:hover{
  background-color: rgb(66, 245, 185);
}

@media screen and (max-width: 1366px) {
  
  .about-container {
    height: 90vh;
    padding: 90px 50px;
  }
}

@media screen and (max-height: 768px) {
  
  .about-container {
    height: 95vh;
    padding: 90px 50px;
  }
}

@media screen and (max-width: 1200px) {
  
  .about-container {
    height: 100vh;
    padding: 90px 50px;
  }

  .about-container h1 {
    font-size: 36px;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  
  .about-container {
    height: 150vh;
    padding: 90px 50px;
  }
}


@media screen and (max-width: 500px) {
  
  .about-container {
    height: 200vh;
  }
}

@media screen and (max-width: 320px) {
  
  .about-container {
    height: 260vh;
  }
}


