.contact {
  background-color: #4E15BE;
  color: white;
  /* height: 100vh; */
  width: 100%;
}

.contact-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 160px;
}

.contact-content h1 {
  margin: 0;
  padding: 0;
  font-size: 3.5em;
}

.contact-content p {
  margin: 20px 0 0;
  padding: 0;
  font-size: 1.2em;
}

.social-networks {
  display: flex;
  margin-top: 56px;
  font-size: 2.5em;
}

.github {
  color: white;
  margin: 0 16px;
}


.linkedin {
  color: white;
  margin: 0 16px;
}

.instagram {
  color: white;
  margin: 0 16px;
}

.github:hover {
  color: aquamarine;
}

.linkedin:hover {
  color: aquamarine;
}

.instagram:hover {
  color: aquamarine;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.name {
  align-items: center;
  background-color: transparent;
  border: 5px solid aquamarine;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  height: 60px;
  margin-bottom: 16px;
  padding-left: 16px;
  width: 500px;
}

.email {
  align-items: center;
  background-color: transparent;
  border: 5px solid aquamarine;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  height: 60px;
  margin-bottom: 16px;
  padding-left: 16px;
  width: 500px;
}

.subject {
  align-items: center;
  background-color: transparent;
  border: 5px solid aquamarine;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  height: 60px;
  margin-bottom: 16px;
  padding-left: 16px;
  width: 500px;
}

.message {
  align-items: center;
  background-color: transparent;
  border: 5px solid aquamarine;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  height: 100px;
  margin-bottom: 16px;
  padding: 6px 16px;
  width: 500px;
}

.submit {
  background-color: aquamarine;
  border: none;
  border-radius: 8px;
  color: #21717A;
  cursor: pointer;
  font-size: 2em;
  font-weight: 600;
  height: 60px;
  margin-bottom: 16px;
  transition: all ease-in-out 0.2s;
  width: 500px;
}

.submit:hover {
  background-color: #21717A;
  color: white;
}