.header-container {
  align-items: center;
  background-color: transparent;
  /* background-color: #111; */
  color: white;
  display: flex;
  justify-content: space-around;
  height: 126px;
  padding: 26px;
  position: sticky;
  width: 100%;
}

.header-container.active {
  background-color: #111;
}

.logo {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.logoTipo {
  position: relative;
  animation: gira 8s linear infinite; 
}

@keyframes gira {
  to {
    transform: rotate(360deg);
  }
}

.menu {
  align-items: center;
  display: flex;
  font-weight: 600;
  list-style: none;
}

.menu a {
  color: white;
  font-size: 20px;
  margin-right: 26px;
  text-decoration: none;
}

.menu a:hover{
  color: rgb(127, 255, 212);
}