.home {
  height: 100vh;
  width: 100%;
  background-color: rgb(12, 11, 11);
}

.meeting {
  color: white;
  font-size: 2.5em;
  font-weight: 400;
  left: 25%;
  position: absolute;
  top: 350px;
}

.meeting h1{
  animation: opac infinite ease-in-out 1.5s;
}

@keyframes opac {
  50% {
    opacity: 0;
  }
}

.img {
  height: 100vh;
  width: 100%;
}

@media screen and (max-width: 1600px) {
  .meeting p {
    font-size: 0.8em;
  }

  .meeting h1 {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 1200px) {

  .img {
    height: 132vh;
    width: 132%;
  }

  .meeting {
    color: white;
    font-size: 1.5em;
    font-weight: 400;
    left: 15%;
    position: absolute;
    top: 250px;
  }

  .meeting h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 760px) {

    .meeting h1 {
    font-size: 1.6em;
  }
}