.skills {
  background-color: #111;
  color: white;
  height: 100vh;
  width: 100%;
}

.skills-content {
  padding: 130px 80px;
}

.skills-content h1 {
  font-size: 2.5em;
  margin: 0;
  padding: 0;
}

.skills-content p {
  font-size: 1.2em;
  margin: 20px 0 0;
  padding: 0;
  text-align: justify;
}