.scroll-down {
  /* background-color: aquamarine; */
  border: aquamarine solid 3px;
  border-radius: 30%;
  bottom: 40px;
  cursor: pointer;
  height: 80px;
  left: 50%;
  position: absolute;
  width: 60px;
}

.scroll-down::before,
.scroll-down::after {
  animation: scroll-down 1s ease-in-out infinite;
  border: 3px solid aquamarine;
  border-left: transparent;
  border-top: transparent;
  content: '';
  height: 20px;
  left: 50%;
  position: absolute;
  top: 20%;
  transform: translate(-50%, -90%) rotate(45deg);
  width: 20px;
}

.scroll-down::after {
  animation-delay: 0.5;
  top: 40%;
}

@keyframes scroll-down {

  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 80%;
  }
}
